<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Min Salary</th>
                <th>Max Salary</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job,iter: ${jobs}">
                <td th:text="${iter.index+1}">N/A</td>
                <td th:text="${job.jobTitle}">N/A</td>
                <td th:text="${job.minSalary}">N/A</td>
                <td th:text="${job.maxSalary}">N/A</td>
                <td class="actions-col">
                    <span sec:authorize="hasAnyAuthority('AD_WRITE_PRIVILEGE', 'AC_WRITE_PRIVILEGE', 'FI_WRITE_PRIVILEGE')">
                        <a th:href="@{/jobs/edit/__${job.jobId}__}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> Edit</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>