<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Street Address</th>
                <th>Postal Code</th>
                <th>City</th>
                <th>State/Province</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location,iter: ${locations}">
                <td th:text="${iter.index+1}">N/A</td>
                <td th:text="${location.streetAddress}">N/A</td>
                <td th:text="${location.postalCode}">N/A</td>
                <td th:text="${location.city}">N/A</td>
                <td th:text="${location.stateProvince}">N/A</td>
                <td th:text="${location.country.countryName}">N/A</td>
                <td class="actions-col">
                    <a th:href="@{/locations/edit/__${location.locationId}__}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>