<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Manager Id</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department,iter : ${departments}">
                <td th:text="${iter.index+1}">N/A</td>
                <td th:text="${department.departmentName}">N/A</td>
                <td th:text="${department.managerId}">N/A</td>
                <td th:text="${department.location.city}">N/A</td>
                <td class="actions-col">
                    <a th:href="@{/departments/edit/__${department.departmentId}__}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>