<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>

<div th:replace="fragments/header :: menu"></div>

<script type="text/javascript" src="/webjars/chartjs/2.7.0/Chart.bundle.min.js"></script>

<div class="container">

    <canvas id="myChart" width="400" height="800"></canvas>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        $.get("/api/employees/?size=500", function (employeesData) {
            var employees = employeesData._embedded.employees;
            var data = {
                labels: [],
                data: []
            };
            employees.forEach(function (employee) {
                data.labels.push(employee.firstName + " " + employee.lastName);
                data.data.push(employee.salary);
            });
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Salary',
                        data: data.data,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>